*.o.d
*.so
*.o
*.apk
*.dex
bin
.classpath
.cproject
*.class
*.a
.settings
proj.android/gen/
.project
build_native.sh
project.properties
assets
proj.android/.settings/org.eclipse.cdt.core.prefs
proj.android/build_native.sh
proj.android/.project
